@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --backgrColor: #ff9900;
  --buttonColor: #4f200d;
  --textColor: #ffffff80;
  --textColorSecond: #4F200D80;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background-image: url(./img/screen\ 29.png);
  background-size: contain;
}
.underline {
  font-family: "Anton", sans-serif;
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-underline-offset: 20px;
  text-transform: uppercase;
}
.section-title {
  text-align: center;
  color: var(--textColorSecond);
  font-family: "Cormorant Garamond", serif;
  font-size: 96px;
  font-weight: 900;
  span{
    text-decoration-style: wavy ;
  }
}
.navigation {
  padding: 18px 30px;
  border: 1px solid var(--buttonColor);
  border-radius: 100px;
  color: var(--buttonColor);
  font-weight: 600;
  transition: ease 0.5s;
}
.navigation:hover {
  background-color: var(--buttonColor);
  color: #fff;
}
.sectionButton {
  width: fit-content;
  font-weight: 600;
  padding: 18px 30px;
  color: var(--buttonColor);
  background-color: var(--backgrColor);
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.sectionButtonPrimary{
  background-color: transparent;
  border: 1px solid var(--backgrColor);
  color: var(--backgrColor);
}
.sectionButtonSecondary{
  background-color: var(--buttonColor);
  border: 1px solid var(--backgrColor);
  color: #fff;
}
.sectionIco{
  position: absolute;
  bottom: 0;
  pointer-events: none;
  left: 47%;
}
.headerContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;

  .titleBlock {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .headerBlock {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}
.mainHeader {
  margin: 83px 305px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 80px;
  .pageContent {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 400px;
    ul > li {
      list-style-type: none;
      padding-left: 28px;
      margin-bottom: 10px;
      position: relative;
    }
    ul > li::before {
      background-image: url(./img/tennis-ball.png);
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      left: -5px;
    }
    h1 {
      text-align: center;
      overflow: visible;
      font-size: 100px;
      font-weight: 900;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 20px;
      color: var(--backgrColor);
      .andWord{
        font-family: "Cormorant Garamond", serif;
        font-weight: 400;
        font-style: italic;
      }
      .newLine{
        margin-left: -60%;
        text-decoration-style: dotted;
      }
      .outside{
        position: absolute;
        right: -120px;
        text-decoration-style: wavy;
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
.section2 {
  display: flex;
  flex-direction: column;
  gap: 56px;
  background-color: var(--buttonColor);
  padding: 60px 0;
  .section-title{
    color: var(--textColor);
  }
  .section2-slider {
    overflow-x: scroll;
    display: flex;
    padding: 10px 0;
    gap: 20px;
    img {
      max-height: 300px;
      flex: 0 0 400px;
    }
  }
  .articles {
    padding: 0 117px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    color: #fff;
    p:nth-child(4) {
      margin-top: 10px;
    }
    h3 {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  .sectionButton{
    margin: 0 auto;
  }
}
.section3{
  padding: 111px 190px 133px 190px;
  background-color: var(--backgrColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 80px;
  .events{
    display: grid;
    grid-template-rows: repeat(5, max-content);
    gap: 30px;
    .event{
      display: flex;
      gap: 48px;
      .weekday, .event-title{
        text-transform: uppercase;
        font-size: 24px;
      }
      .weekday{
        display: block;
        margin-bottom: 10px;
        font-weight: 400;
      }
    }
  }
}
.section3::after{
  content: "";
  position: absolute;
  background-image: url(./img/background.png);
  width: 50%;
  z-index: 0;
  height: 50%;
  top: 25%;
  right: 0;
  opacity: 10%;
}
.section4{
  background-color: #F9F9F9;
  padding: 60px 86px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  & .section-title{
    font-family: "Anton", sans-serif;
    text-decoration-style: wavy;
    margin-bottom: 48px;
  }
  & .section4-content{
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 40px;
    & .section4Card{
      display: flex;
      flex-direction: column;
      gap: 20px;
      & figcaption{
        margin-top: 8px;
      }
      & .section4Title{
        text-transform: uppercase;
        color: var(--buttonColor);
        font-weight: 900;
        font-size: 24px;
        font-family: "Anton", sans-serif;
      }
    }
  }
  & .sectionButton{
    width: fit-content;
    border: none;
  }
}
.section5{
  position: relative;
  background-color: #fff;
  padding: 40px 138px 60px;
  display: grid;
  grid-auto-rows: max-content;
  & .faqQuestion{
    border-bottom: 1px solid var(--textColorSecond);
    width: fit-content;
    & summary {
      position: relative;
      font-weight: 700;
      font-family: "Inter", sans-serif;
      list-style: none;
      font-size: 24px;
      padding: 24px 0;
      display: inline-flex;
      align-items: center;
      gap: 30px;
      cursor: pointer;
      color: var(--buttonColor);
    }
    & .answerText{
      font-size: 18px;
      margin-bottom: 20px;
    }
    & summary::after {
      content: "";
      width: 18px;
      height: 18px;
      background-image: url("./img/icos/chevron-down.png");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 100px;
      background-color: var(--backgrColor);
      transition: transform 0.3s ease;
      padding: 9px;
      cursor: pointer;
      flex-shrink: 0;
    }
    &[open] summary::after {
      transform: rotate(180deg);
    }
    summary::-webkit-details-marker {
      display: none;
    }
  }
  & .section-title{
    color: var(--textColorSecond);
  }
}
.section6{
  position: relative;
  background-color: var(--backgrColor);
  padding: 40px 138px 118px;
  & .section-title{
    margin-bottom: 60px;
  }
  & .section6Content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    & .locationInfo{
      .cityAddress, .placeAddress{
        font-family: "Inter", sans-serif;
        font-weight: 400;
      }
      .cityAddress{
        font-size: 24px;
      }
      .placeAddress{
        font-size: 18px;
      }
    }
  }
}
.section7{
  background-color: var(--buttonColor);
  padding: 40px 138px 154px;
  .section-title{
    color: var(--textColor);
    margin-bottom: 126px;
  }
  & .contactsContent{
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    gap: 138px;
    & .contactsInfo{
      display: flex;
      flex-direction: column;
      gap: 62px;
      & .info{
        margin-bottom: calc(185px - 62px);
      }
    }
  }
}
