:root{
    --backgrColor: #FF9900;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background-image: url(./img/screen\ 29.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
.headerContainer{ 
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    .titleBlock{
        display: flex;
        align-items: center;
        gap: 14px;
    }
    .headerBlock{
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }
}
.mainHeader{
    margin: 83px 305px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 80px;
    .pageContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        min-height: 400px;
        ul > li{
            list-style-type: none;
            padding-left: 28px;
            margin-bottom: 10px;
            position: relative;
        }
        ul > li::before{
            background-image: url(./img/tennis-ball.png);
            content: "";
            position: absolute;
            width: 18px;
            height: 18px;
            left: -5px;
        }
        h1{
            text-align: center;
            overflow: visible;
            font-family: 900;
            width: 100%;
            font-size: 180px;
            font-weight: 900;
            color: var(--backgrColor);
            .underline{
                text-decoration: underline dotted;
            } 
        }
        h1::before{
            content: "Розвивайся,";
            text-decoration: underline;
        }
        h1::after{
            content: "твори";
            text-decoration: underline wavy;
        }
    }
    .buttons{
        display: flex;
        justify-content: center;
        gap: 10px;
        .navigation{
            padding: 18px 30px;
            border:1px solid #4F200D;
            border-radius: 100px;
            color: #4F200D;
            font-weight: 600;
            transition: ease .5s;
        }
        .navigation:hover{
            background-color: #4F200D;
            color: #fff;
        }
    }
    
}