@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
:root {
  --backgrColor: #ff9900;
  --buttonColor: #4f200d;
  --textColor: #ffffff80;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background-image: url(./img/screen\ 29.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.headerContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;

  .titleBlock {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .headerBlock {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}
.mainHeader {
  margin: 83px 305px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 80px;
  .pageContent {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 400px;
    ul > li {
      list-style-type: none;
      padding-left: 28px;
      margin-bottom: 10px;
      position: relative;
    }
    ul > li::before {
      background-image: url(./img/tennis-ball.png);
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      left: -5px;
    }
    h1 {
      text-align: center;
      overflow: visible;
      font-family: 900;
      font-size: 150px;
      font-weight: 900;
      margin-bottom: 20px;
      color: var(--backgrColor);
      .underline {
        text-decoration: underline dotted;
      }
    }
    h1::before {
      content: "Розвивайся,";
      text-decoration: underline;
    }
    h1::after {
      content: "твори";
      text-decoration: underline wavy;
      display: inline;
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    .navigation {
      padding: 18px 30px;
      border: 1px solid #4f200d;
      border-radius: 100px;
      color: #4f200d;
      font-weight: 600;
      transition: ease 0.5s;
    }
    .navigation:hover {
      background-color: #4f200d;
      color: #fff;
    }
  }
}
.section2 {
  display: flex;
  flex-direction: column;
  gap: 56px;
  background-color: var(--buttonColor);
  padding: 60px 0;
  .section2-title {
    text-align: center;
    color: var(--textColor);
    font-family: "Cormorant Garamond", serif;
    font-size: 96px;
    font-weight: 900;
  }
  .section2-title span {
    font-family: "Anton", sans-serif;
    text-decoration: underline wavy;
    text-decoration-thickness: 6px;
    text-underline-offset: 20px;
  }
  .section2-slider {
    overflow-x: scroll;
    display: flex;
    padding: 10px 0;
    gap: 20px;
    img {
      max-height: 300px;
      flex: 0 0 400px;
    }
  }
  .articles {
    padding: 0 117px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    color: #fff;
    p:nth-child(4) {
      margin-top: 10px;
    }
    h3 {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  .submit {
    width: fit-content;
    margin: 0 auto;
    font-weight: 600;
    padding: 18px 30px;
    color: var(--buttonColor);
    background-color: var(--backgrColor);
    border-radius: 100px;
    border: none;
    cursor: pointer;
  }
}
