*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}
.headerContainer{ 
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    .titleBlock{
        display: flex;
        align-items: center;
        gap: 14px;
    }
    .headerBlock{
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }
}
.mainHeader{
    margin: 97px 227px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    .pageContent{
        display: flex;
        flex-direction: column;
    }
}
.mainContainer{
    background-image: url(./img/screen\ 29.png);
    background-repeat: no-repeat;
    background-size: cover; 
}